<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>online-store</title>
</head>
<body>
<h1>Авторизация для входа</h1>
<img th:src="@{/img/logo.png}">
<div th:if="${error}">
    Невозможно войти. Проверьте свое имя пользователя и пароль.
</div>
<p>Не зарегистрированы? Перейдите по ссылке
    <a th:href="@{/register}">регистрация</a> для регистрации.</p>
<form method="POST" th:action="@{/login}" id="loginForm">
    <label for="username">Имя пользователя: </label>
    <input type="text" name="username" id="username"/><br/>
    <label for="password">Пароль: </label>
    <input type="password" name="password" id="password"/><br/>
    <input type="submit" value="Войти"/>
</form>
</body>
</html>